[Desktop Entry]
Name=phraymd Photo Manager
GenericName=Photo Manager
Comment=View and organize your images
Categories=GNOME;GTK;Graphics;Viewer;RasterGraphics;2DGraphics;Photography;
Exec=phraymd %U
Icon=phraymd
StartupNotify=true
Terminal=false
Type=Application
X-Ubuntu-Gettext-Domain=phraymd
