[Desktop Entry]
Name=picty Photo Viewer
GenericName=Photo Viewer
Comment=Display a photo in picty image viewer
Categories=GNOME;GTK;Graphics;Viewer;RasterGraphics;2DGraphics;Photography;
Exec=picty-open %U
Icon=picty
MimeType=image/bmp;image/jpeg;image/gif;image/png;image/tiff;image/x-bmp;image/x-ico;image/x-png;image/x-pcx;image/x-tga;image/xpm;image/svg+xml;
NoDisplay=true
StartupNotify=true
Terminal=false
Type=Application
X-Ubuntu-Gettext-Domain=picty
